@font-face {
  font-family: 'app-icon';
  src:
    url('fonts/icomoon.ttf?t1sebw') format('truetype'),
    url('fonts/icomoon.woff?t1sebw') format('woff'),
    url('fonts/icomoon.svg?t1sebw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.app-icon-money-sack:before {
  content: "\e939";
}
.app-icon-paper-folder:before {
  content: "\e901";
}
.app-icon-people-money:before {
  content: "\e902";
}
.app-icon-phone-money:before {
  content: "\e931";
}
.app-icon-phone:before {
  content: "\e932";
}
.app-icon-settings:before {
  content: "\e933";
}
.app-icon-shakehands-icon:before {
  content: "\e934";
}
.app-icon-store:before {
  content: "\e938";
}
.app-icon-pen:before {
  content: "\e900";
}
.app-icon-airplane:before {
  content: "\e903";
}
.app-icon-arrow-down:before {
  content: "\e904";
}
.app-icon-arrow-left:before {
  content: "\e905";
}
.app-icon-arrow-right:before {
  content: "\e906";
}
.app-icon-arrow-top:before {
  content: "\e907";
}
.app-icon-book-opened:before {
  content: "\e908";
}
.app-icon-caixa-eletronica:before {
  content: "\e909";
}
.app-icon-calendar:before {
  content: "\e90a";
}
.app-icon-coffee:before {
  content: "\e90b";
}
.app-icon-coins:before {
  content: "\e90c";
}
.app-icon-cross:before {
  content: "\e90d";
}
.app-icon-disc-list:before {
  content: "\e90e";
}
.app-icon-dollar:before {
  content: "\e90f";
}
.app-icon-facebook:before {
  content: "\e910";
}
.app-icon-factory:before {
  content: "\e911";
}
.app-icon-funeel:before {
  content: "\e912";
}
.app-icon-google-plus:before {
  content: "\e913";
}
.app-icon-graduation-cap:before {
  content: "\e914";
}
.app-icon-leaf:before {
  content: "\e915";
}
.app-icon-linkedin:before {
  content: "\e916";
}
.app-icon-location:before {
  content: "\e917";
}
.app-icon-lock:before {
  content: "\e918";
}
.app-icon-magnifier:before {
  content: "\e919";
}
.app-icon-mail:before {
  content: "\e91a";
}
.app-icon-menu-lines:before {
  content: "\e91b";
}
.app-icon-more:before {
  content: "\e91c";
}
.app-icon-palm-money:before {
  content: "\e91d";
}
.app-icon-point-down:before {
  content: "\e91e";
}
.app-icon-point-left:before {
  content: "\e91f";
}
.app-icon-point-right:before {
  content: "\e920";
}
.app-icon-point-top:before {
  content: "\e921";
}
.app-icon-printer:before {
  content: "\e922";
}
.app-icon-safe:before {
  content: "\e923";
}
.app-icon-sesrch:before {
  content: "\e924";
}
.app-icon-settings2:before {
  content: "\e925";
}
.app-icon-twitter:before {
  content: "\e926";
}
.app-icon-utilities:before {
  content: "\e927";
}
.app-icon-youtube:before {
  content: "\e928";
}
.app-icon-b-biva:before {
  content: "\e929";
}
.app-icon-credit-analysis:before {
  content: "\e92a";
}
.app-icon-graphicportfolio:before {
  content: "\e92b";
}
.app-icon-peoplecircle:before {
  content: "\e92c";
}
.app-icon-card-profile:before {
  content: "\e92d";
}
.app-icon-chart:before {
  content: "\e92e";
}
.app-icon-check-square:before {
  content: "\e92f";
}
.app-icon-check:before {
  content: "\e930";
}
