@import './_variables.scss';

// Biva Base Configurations
/////////////////////////////////

// This is to hide the header until CSS has been loaded. Otherwise
// criticalCSS messes it up.
.hide-until-css-loads { display: initial !important; }

// Ground Basic Blocks
form {
  fieldset {
    padding: 0;
    border: 0;
  }

  label {
    font-weight: normal !important;
    margin-bottom: 7px !important;
  }

  .has-error input {
    border: 1px solid red !important;
  }
}

/////////////////////////////////
// Text Colors Implementation
.text-blue-light                 {color: $blue-light !important; }
.text-blue                       {color: $blue !important; }
.text-blue-shiny                 {color: $blue-shiny !important; }
.text-blue-shiny-secondary       {color: $blue-shiny-secondary !important; }
.text-blue-eastern               {color: $blue-eastern !important; }
.text-orange                     {color: $orange !important; }
.text-gray-darker                {color: $gray-darker !important; }
.text-gray-dark                  {color: $gray-dark !important; }
.text-gray-light                 {color: $gray-light !important; }
.text-white-dark                 {color: $white-dark !important; }
.text-green-light                {color: $green-light !important; }
.text-bordeaux                   {color: $bordeaux !important; }
.text-white                      {color: #fff !important; }

.background-blue-light                 {background-color: $blue-light !important; }
.background-blue                       {background-color: $blue !important; }
.background-blue-shiny                 {background-color: $blue-shiny !important; }
.background-blue-shiny-secondary       {background-color: $blue-shiny-secondary !important;}
.background-blue-eastern               {background-color: $blue-eastern !important; }
.background-orange                     {background-color: $orange !important; }
.background-gray-darker                {background-color: $gray-darker !important; }
.background-gray-dark                  {background-color: $gray-dark !important; }
.background-gray-light                 {background-color: $gray-light !important; }
.background-white-dark                 {background-color: $white-dark !important; }
.background-green-light                {background-color: $green-light !important; }
.background-bordeaux                   {background-color: $bordeaux !important; }
.background-white                      {background-color: #fff !important; }

.background-gradiant-blue              {background-image: $gradiant-blue-background; }
