.biva-auth-screen {
  padding: 0 !important;
  background-color: #fff;

  .row {
    padding-top: 0 !important;
  }

  .auth-screen-communication {
    padding: 13em 4em 0 0 !important;
    background: linear-gradient(to right, #06b2d8 0%, #0d6fbf 90%);
    color: #fff;
    display: none !important;

    h2 {
      font-weight: 300;
      line-height: 1.5;
    }

    h3 {
      font-weight: 100;
    }
  }

  .auth-screen-content {
    padding: 6em 2em 6em 0 !important;
    background: #fff;

    header {
      padding: 1em 0 1em 2em;
    }

    h1 {
      font-weight: 400;
      color: $blue-eastern;
      font-size: 1.4em;
      margin-bottom: -.6em;
    }

    h2 {
      font-weight: 300;
      font-size: 1em;
      margin-bottom: 1em;
      margin-top: 1.3em;
    }
  }

  @media only screen and (min-width: $tabletBreakpoint) {
    background: linear-gradient(to right, #06b2d8 0%, #06b2d8 50%, #fff 50%, #fff 100%);

    .auth-screen-communication {
      display: inline-block !important;
    }
  }
}
