@import './variables';

// OWL Carousel
// 1. https://owlcarousel2.github.io/OwlCarousel2/
// 2. https://github.com/mujtaba01/ngx-owl-carousel

owl-carousel {
  display: block;
  position: relative;
  padding-bottom: 3em;
  line-height: 1.4;

  .owl-carousel .owl-item .image img {
    display: inline;
  }
}

.owl-nav {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 43px !important;

  .owl-prev,
  .owl-next {
    background: transparent !important;
    color: $white;

    .icon {
      font-size: 3em;
    }
  }
}

// Carousel dots adjusted to biva' identidy

.owl-theme .owl-dots {
  .owl-dot span {
    background-color: $white !important;
  }

  .owl-dot.active span,
  .owl-dot:hover span {
    background-color: $blue-shiny !important;
  }
}

// Semantic-UI

.ui.toggle.checkbox input ~ .box::after,
.ui.toggle.checkbox input ~ label::after {
  border: 1px solid #ccc;
}

/////////////////////////////////
// MOBILE BREAK POINTS
@media only screen and (max-width: $largestMobileScreen) {

  owl-carousel testimonial {
    figure {
      padding-bottom: 0 !important;
    }

    .column {
      .ui.grid {
        .six.wide {
          width: 25% !important;
          padding-left: 0;
        }

        .ten.wide {
          width: 75% !important;
        }
      }
    }
  }

}

@media only screen and (min-width: $tabletBreakpoint) {
  owl-carousel {
    margin: auto 10em;
    padding-bottom: 0;
    line-height: inherit;

    .owl-nav {
      .owl-prev {
        margin-left: -6em !important;
      }

      .owl-next {
        margin-right: -6em !important;
      }
    }

  }

}
