$app-font: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;

/////////////////////////////////////////////////////////////////////
//////////////////////// IMPORTANT //////////////////////////////////
/////////////////////////////////////////////////////////////////////
// This file is imported in many other files, so don't define classes
// here or they will be inlined several times in the same page.

// sass-lint:disable space-before-colon no-color-hex hex-length

/////////////////////////////////
// Z-Indexs
$index_space:   4;
$index_sky:     3;
$index_trees:   2;
$index_ground:  1;
$index_zero:    0;


/////////////////////////////////
// Breakpoints
$mobileBreakpoint            : 320px;
$tabletBreakpoint            : 768px;
$computerBreakpoint          : 990px;
$largeMonitorBreakpoint      : 990px;
$widescreenMonitorBreakpoint : 1920px;

$largestMobileScreen : ($tabletBreakpoint - 1px);
$largestTabletScreen : ($computerBreakpoint - 1px);
$largestSmallMonitor : ($largeMonitorBreakpoint - 1px);
$largestLargeMonitor : ($widescreenMonitorBreakpoint - 1px);


/////////////////////////////////
// Colors
$blue-light                 : #3b8ec7;
$blue                       : #007ae2; //blue biva color
$blue-shiny                 : #00bcff; // shiny blue color for footer buttons
$blue-shiny-secondary       : #3bdcff;
$blue-eastern               : #1a93be; // page titles

$orange                     : #ff9000; // orange color for secondary buttons

$gray-darker                : #4a4a4a;
$gray-dark                  : #555555;
$gray                       : #2f2f2f;
$gray-mine                  : #858585;
$gray-dusty                 : #9c9c9c;
$gray-light                 : #a6a6a6;

$gray-wild-sand             : #f6f6f6;
$gray-alabaster             : #fbfbfb;

$white-dark                 : #f7f7f7;
$white                      : #ffffff;

$green-light                : #ade6c5;

$bordeaux                   : rgb(168, 51, 68);
$thunderbird                : #d11d1d;

$secondaryColor             : $orange; // used to define secondary button color

$gradiant-blue-background   : linear-gradient(to left, rgba(15, 98, 187, .8) 0%, rgba(6, 169, 206, .8) 100%);
